<a href="https://colab.research.google.com/github/lilianajv/Practico/blob/main/ejercicio%20webscrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install BeautifulSoup4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: BeautifulSoup4 in /usr/local/lib/python3.8/dist-packages (4.6.3)

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [3]:
url = "https://www.lahaus.mx/venta/departamentos/quintana-roo"
req = requests.get(url)
soup=BeautifulSoup(req.text,"lxml")

In [4]:
if None:
  print("not None")
else:
  print("esto es None")

esto es None

In [86]:
ids = []
bedrooms = []
bathrooms = []
parking_slots = []
area = []
precio = []

for article in soup.find_all("article", attrs={"class":"property-card-container"}):
  if article.find("ul"):
    
    for i, li in enumerate(article.find_all("li")):
       unit_details = li.find("div", attrs={"class": "flex justify-between pointer-events-none"})
       if unit_details is None:
        print("continue iteration")
        continue
       
       try:
        ids.append(article.get("real_estate_id") + "-" + str(i+1))
       except:
        ids.append(None)
       
       areas = li.find("p", attrs={"class": "text-14 text-carbon-800 text-carbon-light-800"}).text.strip()
       if not areas:
         areas = article.find("p", attrs={"label-r-12 text-carbon-light-800 mb-lh-8 pointer-events-none"})
       area.append(areas)

       price = li.find("p", attrs={"class": "small-r-14 text-carbon-800 mt-4 pointer-events-none"}).text.strip()
       if not price:
         price=article.find("p", attrs={"text-18 font-semibold text-carbon-800 mb-lh-8"})
       precio.append(price)

       hab_i = li.find("i", attrs={"class":"fa fa-real-estate-bedroom"}).find_parent("span").text
       #hab = hab_i.find("span", attrs={"class": "sr-only"})
       bedrooms.append(int(hab_i.split()[0][:1]))

       bano_i = li.find("i", attrs={"class": "fa fa-real-estate-bathroom"}).find_parent("span").text
       bathrooms.append(int(bano_i.split()[0][:1]))

       #park_i = li.find("i", attrs={"class": "fa fa-real-estate-parking"}).find_parent("span").text
       #if not park_i:
       #  park_i = None
       #parking_slots.append(park_i)

       



  else:
    ids.append(article.get("real_estate_id"))
    #precio
    price_2 = article.find("p", attrs={"class" : "text-18 font-medium mt-lh-4"}).text.strip()
    if not price_2:
      price_2 = article.find("p", attrs={"text-18 font-semibold text-carbon-800 mb-lh-8"})
    precio.append(price_2)
    #area
    areas = article.find("p", attrs={"text-14 leading-24"}).text.strip()
    if not areas:
      areas = article.find("p", attrs={"label-r-12 text-carbon-light-800 mb-lh-8 pointer-events-none"})
    area.append(areas.split()[:4])
    
    hab= article.find("p", attrs={"class" : "text-14 leading-24"}).find_parent("span")
    
    if not hab:
      hab=0
    bedrooms.append(hab)

    bano= article.find("p", attrs={"class" : "text-14 leading-24"}).find_parent("span")
    if not bano:
      bano = 0
    bathrooms.append(bano)

    ub=article.find("p", attrs={"class": "relative text-white pointer-events-none"}).text.strip()
    ubicacion.append(ub)

continue iteration

In [76]:
print(len(bedrooms))
print(len(bathrooms))
print(len(ids))
print(len(precio))
print(len(area))

53
53
53
53
53

In [80]:
apartamentos = pd.DataFrame(data={
    "id": ids,
    "price": precio,
    "habitaciones": bedrooms,
    "baños": bathrooms,
    "area" : area,
})
apartamentos

,id,price,habitaciones,baños,area
0,718402,De 2.77 a $6.86 millones,0,0,"[De, 55,0, hasta, 142,0]"
1,704838,De 4.3 a $7.98 millones,0,0,"[De, 58,78, hasta, 122,22]"
2,706819,De 2.39 a $3.82 millones,0,0,"[De, 30,0, hasta, 53,14]"
3,744669,"De $102,157 a $283.52 mil",0,0,"[De, 46,95, hasta, 137,08]"
4,541714,De 3.29 a $4.58 millones,0,0,"[De, 99,0, hasta, 161,0]"
5,427367-1,De 2.6 a $2.92 millones,1,1,"De 28,0 a 33,0 ㎡"
6,427367-2,De 2.6 a $3.83 millones,1,1,"De 28,0 a 66,0 ㎡"
7,427367-3,$3.97 millones,2,1,"57,0 ㎡"
8,427367-4,$5.92 millones,4,3,"102,0 ㎡"
9,648303-1,De 1.92 a $3.32 millones,1,1,"De 28,6 a 45,55 ㎡"
10,424442-1,$1.42 millones,1,1,"31,2 ㎡"
11,424442-2,De 1.9 a $2.04 millones,1,1,"De 70,0 a 78,4 ㎡"
12,424442-3,De 2.96 a $3.05 millones,2,2,"119,9 ㎡"
13,424442-4,De 2.96 a $3.05 millones,2,2,"119,9 ㎡"
14,615199-1,De 2.17 a $4.0 millones,1,1,"De 34,23 a 89,23 ㎡"
15,615199-2,De 2.17 a $4.0 millones,1,1,"De 34,23 a 89,23 ㎡"
16,615199-3,De 2.89 a $6.11 millones,2,2,"De 98,15 a 140,4 ㎡"
17,615199-4,De 2.89 a $6.11 millones,2,2,"De 98,15 a 140,4 ㎡"
18,436663-1,De 1.9 a $2.1 millones,1,1,"34,36 ㎡"
19,436663-2,De 3.2 a $3.4 millones,2,2,"De 74,65 a 75,56 ㎡"
20,436663-3,$3.4 millones,2,2,"74,65 ㎡"
21,543618-1,De 2.43 a $3.45 millones,1,1,"De 36,0 a 68,0 ㎡"
22,543618-2,De 3.16 a $4.41 millones,2,1,"De 47,0 a 74,0 ㎡"
23,543618-3,De 4.52 a $6.68 millones,2,2,"De 132,0 a 192,0 ㎡"
24,543618-4,De 4.52 a $6.68 millones,2,2,"De 132,0 a 192,0 ㎡"
25,585086-1,De 1.94 a $2.26 millones,1,1,"De 36,3 a 39,01 ㎡"
26,585086-2,De 1.94 a $2.26 millones,1,1,"De 36,3 a 39,01 ㎡"
27,585086-3,De 2.82 a $4.49 millones,2,2,"De 54,44 a 78,1 ㎡"
28,585086-4,De 2.82 a $4.49 millones,2,2,"De 54,44 a 78,1 ㎡"
29,585086-5,De 6.3 a $6.54 millones,3,2,"De 114,4 a 117,15 ㎡"
30,585086-6,De 6.3 a $6.54 millones,3,2,"De 114,4 a 117,15 ㎡"
31,668684-1,De 1.78 a $1.78 millones,1,1,"36,73 ㎡"
32,668684-2,De 3.69 a $4.02 millones,2,2,"De 74,1 a 91,8 ㎡"
33,478506-1,$2.4 millones,1,1,"De 38,2 a 1.900,0 ㎡"
34,478506-2,De 4.33 a $4.8 millones,2,2,"De 72,0 a 1.900,0 ㎡"
35,478506-3,$8.6 millones,2,3,"De 152,8 a 1.900,0 ㎡"
36,431641-1,De 3.62 a $7.43 millones,1,1,"De 39,5 a 160,64 ㎡"
37,431641-2,De 3.62 a $7.43 millones,1,1,"De 39,5 a 160,64 ㎡"
38,431641-3,De 8.01 a $8.41 millones,2,2,"De 152,98 a 153,78 ㎡"
39,431641-4,De 8.5 a $13.74 millones,3,3,"De 148,01 a 294,28 ㎡"
40,431641-5,De 8.5 a $13.87 millones,3,3,"De 148,01 a 294,28 ㎡"
41,479294-1,$2.1 millones,1,1,"39,89 ㎡"
42,479294-2,De 3.61 a $3.71 millones,1,1,"De 104,32 a 126,56 ㎡"
43,611974-1,De 2.86 a $4.93 millones,1,1,"De 40,8 a 73,6 ㎡"
44,611974-2,De 5.45 a $5.67 millones,2,1,"De 81,9 a 84,7 ㎡"
45,611974-3,De 6.36 a $6.37 millones,2,2,"95,7 ㎡"
46,555287-1,De 2.42 a $2.51 millones,1,1,"40,92 ㎡"
47,555287-2,De 3.49 a $3.62 millones,2,1,"57,84 ㎡"
48,555287-3,$4.74 millones,2,2,"81,84 ㎡"
49,438044-1,De 3.44 a $4.6 millones,1,1,"De 41,07 a 83,89 ㎡"
50,438044-2,$7.74 millones,2,2,"160,21 ㎡"
51,438044-3,$7.74 millones,2,2,"160,21 ㎡"
52,559772-1,De 2.57 a $3.3 millones,1,1,"De 41,66 a 71,94 ㎡"

In [70]:
int(apartamentos.loc[30,"habitaciones"].split()[0][:1])

3